<div ng-controller="ListController">
    <h1> Character List </h1>
    <div id="loading" ng-show="loading">
        <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
    </div>
    <div ng-repeat="character in characters">
        <a ng-href="#/character/{{ character.guid }}">{{ character.basic.name }} - {{ character.basic.race }} ({{ character.guid }})</a>
    </div>
    <button type="button" class="btn btn-success button" ng-click="create()" ng-hide="loading">
        <i class="glyphicon glyphicon-plus"></i> Create New
    </button>
    <button type="button" class="btn btn-danger button" ng-click="deleteAll()" ng-hide="loading">
        <i class="glyphicon glyphicon-remove"></i> Delete All
    </button>
</div>
