<div id="list" ng-controller="ListController">
    <h1> Character List </h1>
    <h2> Stored locally </h2>
    <div ng-hide="localError">
        <div ng-repeat="character in localCharacters">
            <section class="clickable" ng-click="openCharacterLocal(character)">
                <div class="portrait" ng-controller="PortraitController">
                    <div class="image" style="background-image:url('{{ character.portrait }}')">
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-default button-square" ng-click="exportCharacter(character, $event)">
                        <i class="glyphicon glyphicon-export icon-info"></i>
                    </button>
                    <button type="button" class="btn btn-default button-square {{ deleteCharacterStyle(character) }}" ng-click="deleteCharacterLocal(character, $event)">
                        <i class="glyphicon glyphicon-remove icon-bad"></i>
                    </button>
                </div>
                <div class="title"> {{ nameText(character) }} </div>
                <div class="subtitle"> {{ raceText(character) }}  –  {{ classesText(character) }} </div>
            </section>
        </div>
        <button type="button" class="btn btn-success button" ng-click="localCreate()">
            <i class="glyphicon glyphicon-plus"></i> Create New
        </button>
        <button type="button" class="btn btn-danger button" ng-click="localDeleteAll()">
            <i class="glyphicon glyphicon-remove"></i> Delete All
        </button>
    </div>
    <div ng-show="localError">
        Error: Unable to store characters locally!
    </div>
    <h2> Stored in Drive </h2>
    <div id="loading" ng-show="driveLoading">
        <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
    </div>
    <div ng-hide="driveLoading || driveError">
        <div ng-repeat="character in driveCharacters">
            <section class="clickable" ng-click="openCharacterDrive(character)">
                <div class="portrait" ng-controller="PortraitController">
                    <div class="image" style="background-image:url('{{ character.portrait }}')">
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-default button-square" ng-click="exportCharacter(character, $event)">
                        <i class="glyphicon glyphicon-export icon-info"></i>
                    </button>
                    <button type="button" class="btn btn-default button-square {{ deleteCharacterStyle(character) }}" ng-click="deleteCharacterDrive(character, $event)">
                        <i class="glyphicon glyphicon-remove icon-bad"></i>
                    </button>
                </div>
                <div class="title"> {{ nameText(character) }} </div>
                <div class="subtitle"> {{ raceText(character) }}  –  {{ classesText(character) }} </div>
            </section>
        </div>
        <button type="button" class="btn btn-success button" ng-click="driveCreate()">
            <i class="glyphicon glyphicon-plus"></i> Create New
        </button>
        <button type="button" class="btn btn-danger button" ng-click="driveDeleteAll()">
            <i class="glyphicon glyphicon-remove"></i> Delete All
        </button>
    </div>
    <div ng-show="driveError">
        <p> Error: Unable to store characters in drive! </p>
        <button type="button" class="btn btn-default button" ng-click="driveRetry()">
            <i class="glyphicon glyphicon-repeat"></i> Retry
        </button>
    </div>
</div>
