<div id="sheet" ng-controller="SheetController">
    <h1 id="general"> General </h1>
    <div class="align-h">
        <section id="basics">
            <header> Basics </header>
            <div id="portrait" ng-controller="PortraitController">
                Click to set portrait...
                <div class="image" style="background-image:url('{{character.portrait}}')"
                     ng-click="selectPortrait(character)">
                </div>
            </div>
            <table>
                <tr>
                    <th> Name </th>
                    <td class="expand">
                        <input type="text" class="input textbox expand bottom-border-only" ng-model="character.basic.name">
                    </td>
                </tr>
                <tr>
                    <th> Race </th>
                    <td class="expand">
                        <input type="text" class="input textbox expand bottom-border-only" ng-model="character.basic.race">
                    </td>
                </tr>
                <tr>
                    <th> Size </th>
                    <td class="expand">
                        <select class="input selectbox expand bottom-border-only" ng-model="character.basic.size">
                            <option value="Colossal">Colossal</option>
                            <option value="Gargantuan">Gargantuan</option>
                            <option value="Huge">Huge</option>
                            <option value="Large">Large</option>
                            <option value="Medium">Medium</option>
                            <option value="Small">Small</option>
                            <option value="Tiny">Tiny</option>
                            <option value="Diminutive">Diminutive</option>
                            <option value="Fine">Fine</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th tooltip="Alignment" tooltip-popup-delay="300" tooltip-append-to-body="true"> Align. </th>
                    <td class="expand">
                        <select class="input selectbox expand bottom-border-only" ng-model="character.basic.alignment">
                            <option value="LG">Lawful Good</option>
                            <option value="NG">Neutral Good</option>
                            <option value="CG">Chaotic Good</option>
                            <option value="LN">Lawful Neutral</option>
                            <option value="N">Neutral</option>
                            <option value="CN">Chaotic Neutral</option>
                            <option value="LE">Lawful Evil</option>
                            <option value="NE">Neutral Evil</option>
                            <option value="CE">Chaotic Evil</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th tooltip="Campaign" tooltip-popup-delay="300" tooltip-append-to-body="true"> Camp. </th>
                    <td class="expand">
                        <input type="text" class="input textbox expand bottom-border-only" ng-model="character.basic.campaign">
                    </td>
                </tr>
                <tr>
                    <th> Player </th>
                    <td class="expand">
                        <input type="text" class="input textbox expand bottom-border-only" ng-model="character.basic.player">
                    </td>
                </tr>
            </table>
        </section>
        <section id="advancement" ng-controller="AdvancementController">
            <header> Advancement </header>
            <table style="float: right">
                <tr>
                    <th> <br>Character Level </th>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="input numberbox highlight" value="{{ characterLevel() }}" readonly
                               style="display:inline-block">
                    </td>
                </tr>
                <tr>
                    <th> <br>Experience </th>
                </tr>
                <tr>
                    <td>
                        <input type="number" class="input numberbox" ng-model="character.experience.points" required
                               min="0" max="999999999" pattern="-?[0-9]+"
                               tooltip="{{ experienceTooltip() }}" tooltip-popup-delay="300" tooltip-append-to-body="true"
                               style="width: 100px">
                    </td>
                </tr>
                <tr>
                    <th> <br>Track </th>
                </tr>
                <tr>
                    <td>
                        <select class="input selectbox" ng-model="character.experience.track"
                                style="width: 100px">
                            <option value="Slow">Slow</option>
                            <option value="Medium">Medium</option>
                            <option value="Fast">Fast</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th tooltip="Favored Class" tooltip-popup-delay="300" tooltip-append-to-body="true"> FC </th>
                    <th class="expand"> <br>Class </th>
                    <th> Level </th>
                    <th tooltip="Base Attack Bonus" tooltip-popup-delay="300" tooltip-append-to-body="true"> BAB </th>
                    <th> Hit Die </th>
                </tr>
                <tr ng-repeat="class in character.classes">
                    <td>
                        <input type="checkbox" ng-model="class.favored">
                    </td>
                    <td>
                        <input type="text" class="input textbox expand bottom-border-only" ng-model="class.name">
                    </td>
                    <td>
                        <input type="number" class="input numberbox" ng-model="class.level" required
                               min="0" max="999" pattern="-?[0-9]+">
                    </td>
                    <td>
                        <select class="input selectbox" ng-model="class.baseattackbonus">
                            <option value="2/4">2/4</option>
                            <option value="3/4">3/4</option>
                            <option value="4/4">4/4</option>
                        </select>
                    </td>
                    <td>
                        <select class="input selectbox" ng-model="class.hitdie">
                            <option value="d6">D6</option>
                            <option value="d8">D8</option>
                            <option value="d10">D10</option>
                            <option value="d12">D12</option>
                        </select>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <div class="align-h">
        <section id="abilities" ng-controller="AbilitiesController">
            <header> Abilities </header>
            <table>
                <tr>
                    <th class="expand"> Ability </th>
                    <th> Score </th>
                    <th> Mod. </th>
                    <th> Temp<br>Score </th>
                    <th> Temp<br>Mod. </th>
                </tr>
                <tr ng-repeat="ability in character.abilities">
                    <td>
                        <input type="text" class="input textbox expand bottom-border-only" ng-model="ability.name" readonly>
                    </td>
                    <td>
                        <input type="text" class="input numberbox editable" value="{{ abilityScoreBase(ability) }}" readonly
                               tooltip="{{ abilityScoreBaseTooltip(ability) }}" tooltip-popup-delay="300"
                               ng-focus="abilityScoreBaseEdit(ability)">
                    </td>
                    <td>
                        <input type="number" class="input numberbox highlight" value="{{ abilityModifierBase(ability) }}" readonly>
                    </td>
                    <td>
                        <input type="text" class="input numberbox editable" value="{{ abilityScoreTemp(ability) }}" readonly
                               tooltip="{{ abilityScoreTempTooltip(ability) }}" tooltip-popup-delay="300"
                               ng-focus="abilityScoreTempEdit(ability)">
                    </td>
                    <td>
                        <input type="number" class="input numberbox highlight" value="{{ abilityModifierTemp(ability) }}" readonly>
                    </td>
                </tr>
            </table>
        </section>
        <section id="movement">
            <header> Movement </header>
        </section>
        <section id="todo">
            <header> TODO </header>
        </section>
    </div>
    <h1 id="combat"> Combat </h1>
    <div class="align-h">
        <section id="saves" ng-controller="SavesController">
            <header> Saves </header>
            <table>
                <tr>
                    <th class="expand"> Save </th>
                    <th> Total </th>
                    <th> Base </th>
                    <th> Misc </th>
                </tr>
                <tr ng-repeat="save in character.saves">
                    <td>
                        <input type="text" class="input textbox expand bottom-border-only" ng-model="save.name" readonly>
                    </td>
                    <td>
                        <input type="text" class="input numberbox highlight" value="{{ saveTotal(save) }}" readonly
                               tooltip="{{ saveTotalTooltip(save) }}" tooltip-popup-delay="300">
                    </td>
                    <td>
                        <input type="text" class="input numberbox editable" value="{{ saveBase(save) }}" readonly
                               tooltip="{{ saveBaseTooltip(save) }}" tooltip-popup-delay="300"
                               ng-focus="saveBaseEdit(save)">
                    </td>
                    <td>
                        <input type="text" class="input numberbox editable" value="{{ saveMisc(save) }}" readonly
                               tooltip="{{ saveMiscTooltip(save) }}" tooltip-popup-delay="300"
                               ng-focus="saveMiscEdit(save)">
                    </td>
                </tr>
            </table>
        </section>
        <section id="ac" ng-controller="ArmorClassController">
            <header> Armor Class </header>
            <table style="float: right; margin: 9px">
                <tr>
                    <th> Natural </th>
                    <th> Deflect </th>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="input numberbox" value="{{ armorclassNatural() }}" readonly
                               tooltip="{{ armorclassNaturalTooltip() }}" tooltip-popup-delay="300"
                               ng-focus="armorclassNaturalEdit()">
                    </td>
                    <td>
                        <input type="text" class="input numberbox" value="{{ armorclassDeflection() }}" readonly
                               tooltip="{{ armorclassDeflectionTooltip() }}" tooltip-popup-delay="300"
                               ng-focus="armorclassDeflectionEdit()">
                    </td>
                </tr>
                <tr>
                    <th> Dodge </th>
                    <th> Misc </th>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="input numberbox" value="{{ armorclassDodge() }}" readonly
                               tooltip="{{ armorclassDodgeTooltip() }}" tooltip-popup-delay="300"
                               ng-focus="armorclassDodgeEdit()">
                    </td>
                    <td>
                        <input type="text" class="input numberbox" value="{{ armorclassMisc() }}" readonly
                               tooltip="{{ armorclassMiscTooltip() }}" tooltip-popup-delay="300"
                               ng-focus="armorclassMiscEdit()">
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th class="expand"> Situation </th>
                    <th> AC </th>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="input textbox expand bottom-border-only" value="Normal" readonly>
                    </td>
                    <td>
                        <input type="text" class="input numberbox highlight" value="{{ armorclassNormal() }}" readonly
                               tooltip="{{ armorclassNormalTooltip() }}" tooltip-popup-delay="300">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="input textbox expand bottom-border-only" value="Flat-Footed" readonly>
                    </td>
                    <td>
                        <input type="text" class="input numberbox highlight" value="{{ armorclassFlatFooted() }}" readonly
                               tooltip="{{ armorclassFlatFootedTooltip() }}" tooltip-popup-delay="300">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="input textbox expand bottom-border-only" value="Touch Attack" readonly>
                    </td>
                    <td>
                        <input type="text" class="input numberbox highlight" value="{{ armorclassTouchAttack() }}" readonly
                               tooltip="{{ armorclassTouchAttackTooltip() }}" tooltip-popup-delay="300">
                    </td>
                </tr>
            </table>
        </section>
        <section id="hit-points">
            <header> Hit Points </header>
        </section>
    </div>
    <div class="align-h">
        <section id="attacks">
            <header> Attacks </header>
        </section>
    </div>
    <h1 id="talents"> Talents </h1>
    <div class="align-h">
        <section id="skills" ng-controller="SkillsController">
            <header> Skills </header>
            <table>
                <tr>
                    <th tooltip="Class Skill" tooltip-popup-delay="300" tooltip-append-to-body="true"> CS </th>
                    <th class="expand"> Skill </th>
                    <th tooltip="Untrained" tooltip-popup-delay="300" tooltip-append-to-body="true"> UT </th>
                    <th> Ability </th>
                    <th> Total </th>
                    <th> Ranks </th>
                    <th> Misc </th>
                    <th tooltip="Delete" tooltip-popup-delay="300" tooltip-append-to-body="true"> Del </th>
                </tr>
                <tr ng-repeat="skill in character.skills">
                    <td>
                        <input type="checkbox" ng-model="skill.clas">
                    </td>
                    <td>
                        <input type="text" class="input textbox expand bottom-border-only" ng-model="skill.name" ng-blur="sort()">
                    </td>
                    <td>
                        <input type="checkbox" ng-model="skill.untrained">
                    </td>
                    <td>
                        <select class="input selectbox" ng-model="skill.ability">
                            <option value="Str">Str</option>
                            <option value="Dex">Dex</option>
                            <option value="Con">Con</option>
                            <option value="Int">Int</option>
                            <option value="Wis">Wis</option>
                            <option value="Cha">Cha</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="input numberbox highlight" value="{{ skillTotal(skill) }}" readonly
                               tooltip="{{ skillTotalTooltip(skill) }}" tooltip-popup-delay="300" tooltip-append-to-body="true">
                    </td>
                    <td>
                        <input type="number" class="input numberbox" ng-model="skill.ranks" required
                               min="0" max="999" pattern="-?[0-9]+">
                    </td>
                    <td>
                        <input type="text" class="input numberbox editable" value="{{ skillMisc(skill) }}" readonly
                               tooltip="{{ skillMiscTooltip(skill) }}" tooltip-popup-delay="300" tooltip-append-to-body="true"
                               ng-focus="skillMiscEdit(skill)">
                    </td>
                    <td>
                        <button type="button" class="btn btn-default button-square {{ skillRemoveStyle(skill) }}" ng-click="skillRemove(skill)">
                            <i class="glyphicon glyphicon-remove icon-bad"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="42">
                        <button type="button" class="btn btn-default button-square" ng-click="skillAdd()">
                            <i class="glyphicon glyphicon-plus icon-good"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </section>
        <div class="align-v">
            <section id="feats" ng-controller="FeatsController">
                <header> Feats </header>
                <table>
                    <tr>
                        <th class="expand"> Feat </th>
                        <th tooltip="Information" tooltip-popup-delay="300" tooltip-append-to-body="true"> Info </th>
                        <th tooltip="Delete" tooltip-popup-delay="300" tooltip-append-to-body="true"> Del </th>
                    </tr>
                    <tr ng-repeat="feat in character.feats">
                        <td>
                            <input type="text" class="input textbox expand bottom-border-only" ng-model="feat.name" ng-blur="sort()"
                                   typeahead="name for name in names | filter:$viewValue | limitTo:10"
                                   typeahead-on-select="onSelected($item, $index)"
                                   tooltip="{{ tooltip(feat) }}" tooltip-popup-delay="300" tooltip-append-to-body="true">
                        </td>
                        <td>
                            <button type="button" class="btn btn-default button-square" ng-click="openDetails(feat)">
                                <i class="glyphicon glyphicon-menu-hamburger icon-info"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default button-square" ng-click="remove($index)">
                                <i class="glyphicon glyphicon-remove icon-bad"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="42">
                            <button type="button" class="btn btn-default button-square" ng-click="add()">
                                <i class="glyphicon glyphicon-plus icon-good"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </section>
            <section id="traits" ng-controller="TraitsController">
                <header> Traits </header>
                <table>
                    <tr>
                        <th class="expand"> Trait </th>
                        <th tooltip="Information" tooltip-popup-delay="300" tooltip-append-to-body="true"> Info </th>
                        <th tooltip="Delete" tooltip-popup-delay="300" tooltip-append-to-body="true"> Del </th>
                    </tr>
                    <tr ng-repeat="trait in character.traits">
                        <td>
                            <input type="text" class="input textbox expand bottom-border-only" ng-model="trait.name" ng-blur="sort()"
                                   typeahead="name for name in names | filter:$viewValue | limitTo:10"
                                   typeahead-on-select="onSelected($item, $index)"
                                   tooltip="{{ tooltip(trait) }}" tooltip-popup-delay="300" tooltip-append-to-body="true">
                        </td>
                        <td>
                            <button type="button" class="btn btn-default button-square" ng-click="openDetails(trait)">
                                <i class="glyphicon glyphicon-menu-hamburger icon-info"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default button-square" ng-click="remove($index)">
                                <i class="glyphicon glyphicon-remove icon-bad"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="42">
                            <button type="button" class="btn btn-default button-square" ng-click="add()">
                                <i class="glyphicon glyphicon-plus icon-good"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </section>
            <section id="features" ng-controller="FeaturesController">
                <header> Race/Class Features </header>
                <table>
                    <tr>
                        <th class="expand"> Feature </th>
                        <th tooltip="Information" tooltip-popup-delay="300" tooltip-append-to-body="true"> Info </th>
                        <th tooltip="Delete" tooltip-popup-delay="300" tooltip-append-to-body="true"> Del </th>
                    </tr>
                    <tr ng-repeat="feature in character.features">
                        <td>
                            <input type="text" class="input textbox expand bottom-border-only" ng-model="feature.name" ng-blur="sort()"
                                   tooltip="{{ tooltip(feature) }}" tooltip-popup-delay="300" tooltip-append-to-body="true">
                        </td>
                        <td>
                            <button type="button" class="btn btn-default button-square" ng-click="openDetails(feature)">
                                <i class="glyphicon glyphicon-menu-hamburger icon-info"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default button-square" ng-click="remove($index)">
                                <i class="glyphicon glyphicon-remove icon-bad"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="42">
                            <button type="button" class="btn btn-default button-square" ng-click="add()">
                                <i class="glyphicon glyphicon-plus icon-good"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
    <h1 id="items"> Items </h1>
    <div class="align-h">
        <section id="equipment" ng-controller="EquipmentController">
            <header> Equipment </header>
            <div class="slots">
                <div class="slot">
                    <h2> Head </h2>
                    <span> (Circlet, Crown, Hat, Helmet) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.head">
                </div>
                <div class="slot">
                    <h2> Headband </h2>
                    <span> (Laurel, Phylactery) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.headband">
                </div>
                <div class="slot">
                    <h2> Eyes </h2>
                    <span> (Goggles, Monocle, Spectacles) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.eyes">
                </div>
                <div class="slot">
                    <h2> Neck </h2>
                    <span> (Amulet, Medallion, Necklace) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.neck">
                </div>
                <div class="slot">
                    <h2> Shoulder </h2>
                    <span> (Cape, Cloak, Mantel, Shawl) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.shoulder">
                </div>
                <div class="slot">
                    <h2> Body </h2>
                    <span> (Harness, Robe, Vestment) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.body">
                </div>
                <div class="slot">
                    <h2> Armor </h2>
                    <table>
                        <tr>
                            <td colspan="4">
                                <input type="text" class="input textbox expand" ng-model="character.equipment.armor.name">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select class="input selectbox expand" ng-model="character.equipment.armor.type">
                                    <option value="Light">Light</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Heavy">Heavy</option>
                                </select>
                            </td>
                            <td colspan="2">
                                <select class="input selectbox expand" ng-model="character.equipment.armor.equipped">
                                    <option value="Yes">Equipped</option>
                                    <option value="No">Unequipped</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" class="input numberbox" ng-model="character.equipment.armor.armorclass" required
                                       min="0" max="999" pattern="-?[0-9]+">
                            </td>
                            <td>
                                <input type="number" class="input numberbox" ng-model="character.equipment.armor.maxdex" required
                                       min="0" max="999" pattern="-?[0-9]+">
                            </td>
                            <td>
                                <input type="number" class="input numberbox" ng-model="character.equipment.armor.checkpenalty" required
                                       min="0" max="999" pattern="-?[0-9]+">
                            </td>
                            <td>
                                <input type="number" class="input numberbox" ng-model="character.equipment.armor.spellfailure" required
                                       min="0" max="999" pattern="-?[0-9]+">
                            </td>
                        </tr>
                        <tr>
                            <th> Armor<br>Class </th>
                            <th> Max<br>Dex </th>
                            <th> Check<br>Penalty </th>
                            <th> Spell<br>Failure </th>
                        </tr>
                    </table>
                </div>
                <div class="slot">
                    <h2> Shield </h2>
                    <table>
                        <tr>
                            <td colspan="4">
                                <input type="text" class="input textbox expand" ng-model="character.equipment.shield.name">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select class="input selectbox expand" ng-model="character.equipment.shield.type">
                                    <option value="Light">Light</option>
                                    <option value="Heavy">Heavy</option>
                                    <option value="Tower">Tower</option>
                                </select>
                            </td>
                            <td colspan="2">
                                <select class="input selectbox expand" ng-model="character.equipment.shield.equipped">
                                    <option value="Yes">Equipped</option>
                                    <option value="No">Unequipped</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" class="input numberbox" ng-model="character.equipment.shield.armorclass" required
                                       min="0" max="999" pattern="-?[0-9]+">
                            </td>
                            <td>
                                <input type="text" class="input numberbox" value="{{ shieldMaxDex() }}" readonly>
                            </td>
                            <td>
                                <input type="number" class="input numberbox" ng-model="character.equipment.shield.checkpenalty" required
                                       min="0" max="999" pattern="-?[0-9]+">
                            </td>
                            <td>
                                <input type="number" class="input numberbox" ng-model="character.equipment.shield.spellfailure" required
                                       min="0" max="999" pattern="-?[0-9]+">
                            </td>
                        </tr>
                        <tr>
                            <th> Armor<br>Class </th>
                            <th> Max<br>Dex </th>
                            <th> Check<br>Penalty </th>
                            <th> Spell<br>Failure </th>
                        </tr>
                    </table>
                </div>
                <div class="slot">
                    <h2> Chest </h2>
                    <span> (Jacket, Mantel, Shirt, Vest) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.chest">
                </div>
                <div class="slot">
                    <h2> Waist </h2>
                    <span> (Belt, Waistband, Sash) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.waist">
                </div>
                <div class="slot">
                    <h2> Hands </h2>
                    <span> (Gauntlets, Gloves) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.hands">
                </div>
                <div class="slot">
                    <h2> Wrists </h2>
                    <span> (Armbands, Bracelets) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.wrist">
                </div>
                <div class="slot">
                    <h2> Feet </h2>
                    <span> (Boots, Sandals, Shoes) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.feet">
                </div>
                <div class="slot">
                    <h2> Fingers </h2>
                    <span> (Rings) </span>
                    <input type="text" class="input textbox" ng-model="character.equipment.ring1">
                    <input type="text" class="input textbox" ng-model="character.equipment.ring2">
                </div>
            </div>
        </section>
        <section id="inventory">
            <header> Inventory </header>
            <textarea class="input textbox expand" placeholder="Shiny..." ng-model="character.inventory">
            </textarea>
        </section>
    </div>
    <h1 id="magic"> Magic </h1>
    <div class="align-h">
        <section id="spells">
            <header> Spells </header>
        </section>
    </div>
    <h1 id="fluff"> Fluff </h1>
    <div class="align-h">
        <section id="appearance">
            <header> Appearance </header>
            <textarea class="input textbox expand" placeholder="Ruggedly handsome..." ng-model="character.appearance">
            </textarea>
        </section>
        <section id="personality">
            <header> Personality </header>
            <textarea class="input textbox expand" placeholder="Like mother..." ng-model="character.personality">
            </textarea>
        </section>
    </div>
    <div class="align-h">
        <section id="background">
            <header> Background </header>
            <textarea class="input textbox expand" placeholder="Once upon a time..." ng-model="character.background">
            </textarea>
        </section>
        <section id="notes">
            <header> Notes </header>
            <textarea class="input textbox expand" placeholder="..." ng-model="character.notes">
            </textarea>
        </section>
    </div>
    <div id="quicknav">
        <nav>
            <a ng-click="scrollTo('general', $event)">
                <i class="glyphicon glyphicon-th"></i>
                <br>
                General
            </a>
            <a ng-click="scrollTo('combat', $event)">
                <i class="glyphicon glyphicon-screenshot"></i>
                <br>
                Combat
            </a>
            <a ng-click="scrollTo('talents', $event)">
                <i class="glyphicon glyphicon-education"></i>
                <br>
                Talents
            </a>
            <a ng-click="scrollTo('items', $event)">
                <i class="glyphicon glyphicon-briefcase"></i>
                <br>
                Items
            </a>
            <a ng-click="scrollTo('magic', $event)">
                <i class="glyphicon glyphicon-fire"></i>
                <br>
                Magic
            </a>
            <a ng-click="scrollTo('fluff', $event)">
                <i class="glyphicon glyphicon-heart"></i>
                <br>
                Fluff
            </a>
        </nav>
    </div>
</div>
