<div class="modal-header">
    <h3 class="modal-title">{{ spell.name }}</h3>
</div>
<div class="modal-body">
    <table style="width:99%">
        <tr>
            <th colspan="3"> School </th>
            <th colspan="3"> Subschool </th>
        </tr>
        <tr>
            <td colspan="3"> <input type="text" class="input textbox expand" ng-model="spell.school"> </td>
            <td colspan="3"> <input type="text" class="input textbox expand" ng-model="spell.subschool"> </td>
        </tr>
        <tr>
            <th colspan="3"> Casting Time </th>
            <th colspan="3"> Components </th>
        </tr>
        <tr>
            <td colspan="3"> <input type="text" class="input textbox expand" ng-model="spell.castingtime"> </td>
            <td colspan="3"> <input type="text" class="input textbox expand" ng-model="spell.components"> </td>
        </tr>
        <tr>
            <th colspan="3"> Range </th>
            <th colspan="3"> Duration </th>
        </tr>
        <tr>
            <td colspan="3"> <input type="text" class="input textbox expand" ng-model="spell.range"> </td>
            <td colspan="3"> <input type="text" class="input textbox expand" ng-model="spell.duration"> </td>
        </tr>
        <tr>
            <th colspan="2"> Target </th>
            <th colspan="2"> Effect </th>
            <th colspan="2"> Area </th>
        </tr>
        <tr>
            <td colspan="2"> <input type="text" class="input textbox expand" ng-model="spell.target"> </td>
            <td colspan="2"> <input type="text" class="input textbox expand" ng-model="spell.effect"> </td>
            <td colspan="2"> <input type="text" class="input textbox expand" ng-model="spell.area"> </td>
        </tr>
        <tr>
            <th colspan="3"> Saving Throw </th>
            <th colspan="3"> Spell Resistance </th>
        </tr>
        <tr>
            <td colspan="3"> <input type="text" class="input textbox expand" ng-model="spell.savingthrow"> </td>
            <td colspan="3"> <input type="text" class="input textbox expand" ng-model="spell.spellresistance"> </td>
        </tr>
        <tr>
            <th colspan="6"> Description </th>
        </tr>
        <tr>
            <td colspan="6">
                <textarea class="input textbox expand" ng-model="spell.description" id="spell-description"
                          ng-keyup="resize($event)" ng-keydown="resize($event)">
                </textarea>
            </td>
        </tr>
    </table>
</div>
