<div class="modal-header">
    <h3 class="modal-title">{{ feat.name }}</h3>
</div>
<div class="modal-body">

    <h4> Description </h4>
    <textarea class="input textbox expand" style="height: 28px" ng-model="feat.description" id="feat-description"
              ng-keyup="resize($event)" ng-keydown="resize($event)">
    </textarea>

    <h4> Prequesites </h4>
    <textarea class="input textbox expand" style="height: 28px" ng-model="feat.prequesites" id="feat-prequesites"
              ng-keyup="resize($event)" ng-keydown="resize($event)">
    </textarea>

    <h4> Benefit </h4>
    <textarea class="input textbox expand" style="height: 28px" ng-model="feat.benefit" id="feat-benefit"
              ng-keyup="resize($event)" ng-keydown="resize($event)">
    </textarea>

    <h4> Normal </h4>
    <textarea class="input textbox expand" style="height: 28px" ng-model="feat.normal" id="feat-normal"
              ng-keyup="resize($event)" ng-keydown="resize($event)">
    </textarea>

    <h4> Special </h4>
    <textarea class="input textbox expand" style="height: 28px" ng-model="feat.special" id="feat-special"
              ng-keyup="resize($event)" ng-keydown="resize($event)">
    </textarea>

</div>
