#classes .grid {
    grid-template-columns: auto 1fr auto auto auto auto auto auto;
    grid-template-rows: auto;
}

#classes .grid {
    padding-top: 6px;
}

#classes [tooltip^="Will"]::before {
    transform: translateX(-70%);
}

#classes #class-fort,
#classes #class-ref,
#classes #class-will {
    width: 38px;
}
