@font-face {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bree-serif.eot');
    src: url('../fonts/bree-serif.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bree-serif.woff2') format('woff2'),
         url('../fonts/bree-serif.woff') format('woff');
}

﻿@font-face {
    font-family:"Breathe Fire";
    font-style:normal;
    font-weight:normal;
    src: url('../fonts/breathe-fire.eot?') format('eot'),
         url('../fonts/breathe-fire.woff') format('woff'),
         url('../fonts/breathe-fire.ttf') format('truetype'),
         url('../fonts/breathe-fire.svg#BreatheFire') format('svg');
}

/* Main layout */

body {
    background: #EEE;
    font-family: 'Bree Serif', serif;
}

#container {
    background: #FFF;
    width: 1030px;
    min-height: 100vh;
    margin: 0px auto;
    padding: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.50);
}

#loading {
    padding: 12px;
    text-align: center;
}

#loading i {
    font-size: 24px;
}

.glyphicon-spin {
    animation: spin 1000ms infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.fullscreen {
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Fix scrollbar disappearing */

body.modal-open {
    overflow: auto;
}

/* Mobile */

@media all and (max-width: 1029px) {

body {
    min-width: 520px;
}

#container {
    width: 520px;
}

}
