/* Column widths
 * One:   160px
 * Two:   330px
 * Three: 500px
 * Four:  670px
 * Five:  840px
 * Six:  1010px
 */

#sheet #loading {
    background: rgba(255, 255, 255, 0.75);
}

#sheet {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "..... ..... gener gener ..... ....."
                         "basic basic basic class class class"
                         "abili abili movem movem carry carry"
                         "..... ..... comba comba ..... ....."
                         "saves saves armor armor hitpo hitpo"
                         "attac attac attac attac attac attac"
                         "ammun ammun ammun maneu maneu maneu"
                         "..... ..... talen talen ..... ....."
                         "skill skill skill feats feats feats"
                         "skill skill skill trait trait trait"
                         "skill skill skill featu featu featu"
                         "skill skill skill langu langu langu"
                         "skill skill skill profi profi profi"
                         "..... ..... items items ..... ....."
                         "equip equip equip inven inven inven"
                         "..... ..... magic magic ..... ....."
                         "scast scast scast snote snote snote"
                         "spls0 spls0 spls0 spls0 spls0 spls0"
                         "spls1 spls1 spls1 spls1 spls1 spls1"
                         "spls2 spls2 spls2 spls2 spls2 spls2"
                         "spls3 spls3 spls3 spls3 spls3 spls3"
                         "spls4 spls4 spls4 spls4 spls4 spls4"
                         "spls5 spls5 spls5 spls5 spls5 spls5"
                         "spls6 spls6 spls6 spls6 spls6 spls6"
                         "spls7 spls7 spls7 spls7 spls7 spls7"
                         "spls8 spls8 spls8 spls8 spls8 spls8"
                         "spls9 spls9 spls9 spls9 spls9 spls9"
                         "..... ..... fluff fluff ..... ....."
                         "appea appea appea perso perso perso"
                         "backg backg backg notes notes notes"
}

#sheet > * {
    width: 100%;
}

#general { grid-area: gener; }
#basics { grid-area: basic; }
#classes { grid-area: class; }
#abilities { grid-area: abili; }
#movement { grid-area: movem; }
#carrying-capacity { grid-area: carry; }

#combat { grid-area: comba; }
#saves { grid-area: saves; }
#ac { grid-area: armor; }
#hit-points { grid-area: hitpo; }
#attacks { grid-area: attac; }
#ammo { grid-area: ammun; }
#combat-maneuvers { grid-area: maneu; }

#talents { grid-area: talen; }
#skills { grid-area: skill; }
#feats { grid-area: feats; }
#traits { grid-area: trait; }
#features { grid-area: featu; }
#languages { grid-area: langu; }
#proficiencies { grid-area: profi; }

#items { grid-area: items; }
#equipment { grid-area: equip; }
#inventory { grid-area: inven; }

#magic { grid-area: magic; }
#spellcasting { grid-area: scast; }
#spellnotes { grid-area: snote; }
#spells0 { grid-area: spls0; }
#spells1 { grid-area: spls1; }
#spells2 { grid-area: spls2; }
#spells3 { grid-area: spls3; }
#spells4 { grid-area: spls4; }
#spells5 { grid-area: spls5; }
#spells6 { grid-area: spls6; }
#spells7 { grid-area: spls7; }
#spells8 { grid-area: spls8; }
#spells9 { grid-area: spls9; }

#fluff { grid-area: fluff; }
#appearance { grid-area: appea; }
#personality { grid-area: perso; }
#background { grid-area: backg; }
#notes { grid-area: notes; }

/* Spesific layout */

#equipment .slots {
    margin: 3px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

#equipment .slot {
    margin: 5px;
    width: 236px;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
    display: inline-block;
}

#equipment .slot > h2 {
    padding-left: 9px;
    display: inline-block;
}

#equipment .slot > span {
    font-size: 12px;
}

#equipment .slot > input {
    width: 224px;
    margin: 6px;
    margin-top: 0px;
}

#equipment table {
    margin-top: 0px;
}

#equipment table th {
    vertical-align: top;
    font-size: 12px;
    padding-top: 0;
}

#equipment table .numberbox {
    width: 51px;
}

#inventory textarea {
    height: 635px;
    border: 0;
}

#spells0 th.name,
#spells1 th.name,
#spells2 th.name,
#spells3 th.name,
#spells4 th.name,
#spells5 th.name,
#spells6 th.name,
#spells7 th.name,
#spells8 th.name,
#spells9 th.name {
    text-align: left;
    padding-left: 9px;
}

#spellnotes textarea {
    height: 437px;
    border: 0;
}

#appearance textarea,
#personality textarea,
#background textarea,
#notes textarea {
    height: 358px; /* 22*lines + 6 */
    border: 0;
}

/* Nav tweaks */
@media all and (max-width: 1190px) {

#sheet {
    padding-bottom: 64px;
}

#quicknav {
    width: 100%;
    height: inherit;
}

#quicknav nav {
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
}

#quicknav a {
    display: inline-block;
}

}

/* Mobile */

@media all and (max-width: 1029px) {

.align-h {
    flex-flow: row wrap;
}

#quicknav {
    text-align: center;
}

#quicknav nav {
    width: 100%;
    border-radius: 0;
}

}
