/* Dialogs */

.modal {
    background: rgba(0,0,0,0.2);
}

.modal-header {
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 10px;
}

.modal-body {
    padding: 10px;
}

.modal-body h4 {
    font-weight: bold;
    font-size: 14px;
    margin-left: 2px;
}

/* Disable up and down buttons in number boxes */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
}

/* Input boxes */

.input {
    background: #FFF;
    display: block;
    height: 28px;
    padding: 2px 6px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.clickable {
    cursor: pointer;
}

.editable {
    cursor: text;
}

.button-square {
    padding: 4px 5px 6px 5px;
    width: 28px;
    height: 28px;
    font-size: 14px;
    border: 1px solid #aaa;
}

.button-recently-clicked,
.button-recently-clicked:focus {
    background: #d44;
}

.button-recently-clicked .icon-bad,
.button-recently-clicked:focus .icon-bad {
    color: #fff;
}

.icon-good {
    color: #0A0;
}

.icon-bad {
    color: #D44;
}

.icon-info {
    color: #49E;
}

.icon-util {
    color: #666;
}

input:invalid,
input:invalid:focus {
    background: #fee;
    border-color: #F33;
}

.textbox {

}

.selectbox {
    /* Move text 1px up so it looks more proportional */
    /* Also reduce side margins to equal textbox */
    padding: 1px 0px 3px 2px;
}

.numberbox {
    width: 48px;
    text-align: center;
}

.numberbox.wide {
    width: 64px;
}

.numberbox.wider {
    width: 128px;
}

.numberbox.widest {
    width: 160px;
}

.expand {
    width: 100%;
    text-align: left;
}

.numberbox.expand {
    text-align: center;
}

.highlight {
    border-width: 2px;
    padding: 1px 5px;
    border-color: #666;
}

.bottom-border-only {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

/* Input groups */

.input-group .input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Tables */

table {
    margin: 3px;
}

th,
td {
    text-align: center;
    padding: 3px;
}

th {
    vertical-align: bottom;
    line-height: 1;
}

th.expand {
    padding-left: 9px;
}
