/* Column widths
 * One:   160px
 * Two:   330px
 * Three: 500px
 * Four:  670px
 * Five:  840px
 * Six:  1010px
 */

.block {
    width: 1010px;
    display: flex;
    justify-content: space-between;
}

.subblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.piece {
    background: #FFF;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);
    margin-bottom: 10px;
    overflow: hidden;
}

.piece header {
    color: #FFF;
    font-size: 22px;
    text-align: center;
    background: #C21;
    background: hsl(5, 80%, 40%);
    border-bottom: 1px solid #333;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
}

#basic {
    width: 1010px;
    padding-bottom: 6px;
}

#basic div {
    width: 334px;
    padding-left: 6px;
    padding-top: 6px;
    float: left;
}

#basic div.small {
    width: 167px;
}

#basic h2 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    margin: 0;
}

#abilities {
    width: 330px;
}

#movement {
    width: 330px;
}

#todo1 {
    width: 330px;
}

#saves {
    width: 330px;
}

#ac {
    width: 330px;
}

#todo2 {
    width: 330px;
}

#attacks {
    width: 1010px;
}

#skills {
    width: 500px;
}

#feats {
    width: 500px;
    flex-grow: 1;
}

#traits {
    width: 500px;
    flex-grow: 1;
}

#features {
    width: 500px;
    flex-grow: 1;
}

/* Mobile */

@media all and (max-width: 1029px) {

h1 {
    width: 500px;
}

.block {
    width: 500px;
    display: flex;
    flex-direction: column;
}

#basic {
    width: 500px;
}

#basic div {
    width: 492px;
}

#basic div.small {
    width: 246px;
}

#abilities {
    width: 500px;
}

#movement {
    width: 500px;
}

#todo1 {
    width: 500px;
}

#saves {
    width: 500px;
}

#ac {
    width: 500px;
}

#todo2 {
    width: 500px;
}

#attacks {
    width: 500px;
}

#skills {
    width: 500px;
}

#feats {
    width: 500px;
}

#traits {
    width: 500px;
}

#features {
    width: 500px;
}

}
