/* Column widths
 * One:   160px
 * Two:   330px
 * Three: 500px
 * Four:  670px
 * Five:  840px
 * Six:  1010px
 */

#sheet #loading {
    background: rgba(255, 255, 255, 0.75);
}

/* Generic layout */

.align-h {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.align-h > * {
    flex: 1 100%;
}

.align-v {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.align-v > * {
    flex-grow: 1;
}

/* Spacing tweaks */

.align-h {
    margin: -5px;
}

.align-h + .align-h {
    margin-top: 5px;
}

/* Styling */

section {
    background: #FFF;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);
    margin-bottom: 10px;
    overflow: hidden;
    margin: 5px;
}

section header {
    color: #FFF;
    font-size: 22px;
    text-align: center;
    background: #C21;
    background: hsl(5, 80%, 40%);
    border-bottom: 1px solid #333;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    margin: 0;
}

/* Navigation */

#quicknav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
}

#quicknav nav {
    margin: auto 0;
    background: #FFF;
    border-radius: 0 8px 8px 0;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
}

#quicknav a {
    border-radius: 8px;
    display: block;
    width: 80px;
    padding: 6px;
    padding-top: 8px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

#quicknav a .glyphicon {
    font-size: 22px;
}

#quicknav a:hover {
    text-decoration: none;
    background: #EEE;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.25);
}

/* Spesific layout */

#basics th {
    vertical-align: middle;
}

#portrait {
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);
    width: 198px;
    height: 198px;
    margin: 6px;
    float: left;
    text-align: center;
    line-height: 198px;
    font-size: 16px;
    color: #AAA;
    position: relative;
}

#portrait .image {
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    width: 198px;
    height: 198px;
    position: absolute;
    top: 0;
}

#equipment .slots {
    margin: 3px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

#equipment .slot {
    margin: 5px;
    width: 236px;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
    display: inline-block;
}

#equipment .slot > h2 {
    padding-left: 9px;
    display: inline-block;
}

#equipment .slot > span {
    font-size: 12px;
}

#equipment .slot > input {
    width: 224px;
    margin: 6px;
    margin-top: 0px;
}

#equipment table {
    margin-top: 0px;
}

#equipment table th {
    vertical-align: top;
    font-size: 12px;
    padding-top: 0;
}

#equipment table .numberbox {
    width: 51px;
}

#inventory textarea {
    height: 635px;
    border: 0;
}

#orisons th.name,
#spells1 th.name,
#spells2 th.name,
#spells3 th.name,
#spells4 th.name,
#spells5 th.name,
#spells6 th.name,
#spells7 th.name,
#spells8 th.name,
#spells9 th.name {
    text-align: left;
    padding-left: 9px;
}

#appearance textarea,
#personality textarea,
#background textarea,
#notes textarea {
    height: 358px; /* 22*lines + 6 */
    border: 0;
}

/* Nav tweaks */
@media all and (max-width: 1190px) {

#sheet {
    padding-bottom: 64px;
}

#quicknav {
    width: 100%;
    height: inherit;
}

#quicknav nav {
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
}

#quicknav a {
    display: inline-block;
}

}

/* Mobile */

@media all and (max-width: 1029px) {

.align-h {
    flex-flow: row wrap;
}

#quicknav {
    text-align: center;
}

#quicknav nav {
    width: 100%;
    border-radius: 0;
}

}
